body {
background-color: black;
color: white;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: thin;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
    min-height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
}
.informationPanel {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.reportContainer {
margin-right: 5px;
}
.cardContainer {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr 1fr;
gap: 30px 0px;
margin: 0px;
}

.icon {
    position: relative;
    z-index: 0;
    margin-right: 10px;
    object-fit: contain;
    position: center;
}

.card-main {
    background-color: #1C204B;
    width: 255px;
    height: 199px;
    margin-top: -115px;
    border-radius: 15px;
    position: relative;
    z-index: 3;
}

.card-main:hover, .card-main-report:hover {
background-color: #33397A;
}

.card-head {
    width: 255px;
    height: 160px;
    border-radius: 15px;
}
.card-head-work {
    background-color: #FF8B64;
}
.card-head-play {
    background-color: #55C2E6;
}

.card-head-study {
    background-color: #FF5E7D;
}

.card-head-exercise {
    background-color: #4BCF82;
}
.card-head-social {
    background-color: #7335D2;
}
.card-head-self-care {
    background-color: #F1C75B;
}

.card-head-report {
    background-color: #5747EA;
    width: 255px;
    height: 354px;
    border-radius: 15px;
    position: relative;
    z-index: 4;
    padding: 30px;
}

.card-main-report {
    width: 255px;
    height: 518px;
    background-color: #1C204B;
    margin-top: -354px;
    border-radius: 15px;
}

.card-inner {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.userImg {
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 1px 3px 3px 1px #2c2284;
    margin-bottom: 30px;
}

.name {
    font-size: 40px;
}
.card-hours {
    font-size: 56px;
}
.last-week, .report-for, .byTime {
    color: #BBC0FF;
}
.byTime {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 30px;
}

.report {
grid-column: 1/2;
grid-row:  1/3;
}
.work {
grid-column: 2/3;
grid-row: 1/2;
}
.play {
grid-column: 3/4;
grid-row: 1/2;
}
.study {
grid-column: 4;
grid-row: 1/2;
}
.exercise {
grid-column: 2/3;
grid-row: 2;
}
.social {
grid-column: 3/4;
grid-row: 2/3;
}
.self-care {
grid-column: 4;
grid-row: 2/3;
}

/* -----------------------LAPTOP STYLING ------------------------- */

@media (max-width: 1104px) {
.cardContainer {
grid-template-columns: repeat(3, 1fr);
grid-auto-flow: auto;
column-gap: 10px;
padding: 0px;
}
.cards {
    padding: 0px;
}
}
/* -----------------------TABLET STYLING ------------------------- */

@media (min-width: 521px) and (max-width: 897px) {
.informationPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.reportContainer {
margin: 0px;
padding: 0px;
width: 525px;
display: flex;
justify-content: center;
}
.card-head-report {
    max-width: 100%;
    width: 525px;
    height: 354px;
    display: block;
    text-align: center;
}
.card-main-report {
    width: 100%;
    height: 525px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.cardContainer {
grid-template-columns: repeat(2, 1fr);
grid-auto-flow: auto;
column-gap: 15px;
padding: 0px;
}

.cards {
    padding: 0px;
}
.byTime {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

.work, .play, .exercise, .self-care, .study, .social {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
}

/* -----------------------767 STYLING ------------------------- */


@media (max-width: 767.5px) {
.reportContainer {
max-width: 100%;
width: 525px;
}

.card-head-report, .card-main-report {
  max-width: 100%;
width: 525px;  
}

}

/* -----------------------MOBILE STYLING ------------------------- */



@media (max-width: 523px) {
.informationPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


.reportContainer {
    margin-left: auto;
    margin-right: auto;
    width: 357px;


}
.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}


.cardContainer {
grid-template-columns: 1fr;
grid-auto-flow: auto;
margin-left: auto;
margin-right: auto;
gap: 15px 0px;
}
.cards {
    display:flex;
    justify-content: center;
    padding: 0px;
}


.card-head {
width: 327px;
height: 160px;
}
.card-main {
width: 327px;
height: 122px;
padding: 0px;
}
.card-hours{
font-size: 30px;
}
.card-head-report {
    width: 327px;
    height: 133px;
    display: flex;
}


.card-head-report-text {
    display: block;
    text-align: left;
    padding-left: 15px;
}
.name {
    margin-top: -20px;
    font-size: 24px;
}
.card-main-report {
    width: 327px;
    height: 203px;
    margin-top: -130px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.card-category {
    margin-bottom: -20px;
}
.hours-and-week {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-right: 10px;
}
.byTime {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: end;
   padding: 0px;
}
}
/* ----------------------- SMALL MOBILE STYLING ------------------------- */
@media (max-width: 356px) {
.card-head {
width: 310px;
height: 160px;
max-width: 100%;
}
.card-main {
width: 310px;
height: 122px;
padding: 0px;
}

.card-main-report {
width: 310px;

}
.card-head-report {
width: 310px;

}
.report {
    padding: 0px;
}
.cardContainer {
    padding: 0px;
}
}
.reportContainer {
    width: 310px;
}
