body {
    background-color: black;
    color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: thin;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 100vh;
}

.informationPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 15px;
}

.icon {
    position: relative;
    margin-right: 10px;
    bottom: 15px;
    position: center;
}

.card-main {
    width: 256px;
    height: 199px;
    border-radius: 15px;
    background-color: #1C204B;
}

.card-main:hover,
.report:hover {
    background-color: #33397A;
}


.card-head {
    width: 255px;
    height: 45px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: end;
}

.card-head-report {
    background-color: #5747EA;
    width: 255px;
    height: 354px;
    border-radius: 15px;
    padding: 30px;
}

.card-inner {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -10px;
}

.userImg {
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 1px 3px 3px 1px #2c2284;
    margin-bottom: 30px;
}

.name {
    font-size: 40px;
}

.card-hours {
    font-size: 56px;
}

.last-week,
.report-for {
    color: #BBC0FF;
}

a {
    color: #BBC0FF;
    font-weight: 400;
}

a:hover {
    color: white;
    text-decoration: none;
}

.last-week {
    margin-top: -20px;
}

.byTime {
    margin-top: 30px;
    padding-left: 30px;
}

.btn {
    font-weight: 300;
    text-align: left;
    padding: 0px;
}

.report {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 255px;
    height: 518px;
    background-color: #1C204B;
    border-radius: 15px;
}

.work,
.play,
.study,
.exercise,
.social,
.self-care {
    position: relative;
    border-radius: 15px;
    height: 244px;
    width: 255px;
    overflow: hidden;

}

.work {
    background-color: #FF8B64;

}

.play {
    background-color: #55C2E6;

}

.study {
    background-color: #FF5E7D;

}

.exercise {
    background-color: #4BCF82;

}

.social {
    background-color: #7335D2;

}

.self-care {
    background-color: #F1C75B;

}


/* -----------------------LAPTOP STYLING ------------------------- */


@media (min-width: 898px) and (max-width: 1104px) {
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
    }

    .report {
        height: 752px;
    }

    .card-head-report {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        text-align: center;      
    }

    .byTime {
        text-align: center;
        padding: 0px;
    }
}

/* -----------------------TABLET STYLING ------------------------- */


@media (min-width: 521px) and (max-width: 897px) {

    .informationPanel {
        display: block;
        padding: 0px;
    }

    .reportContainer {
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        width: 540px;
        display: flex;
        justify-content: center;
    }

    .card-head-report {
        width: 100%;
        height: 280px;
        display: block;
        text-align: center;
    }
    .report {
        width: 540px;
        height: 360px;
        margin-bottom: 30px;
        padding: 0px;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px 30px;
        justify-content: center;
        padding: 0px;
    }

    .byTime {
        display: flex;
        justify-content: space-evenly;
    }

    .cards {
        padding: 0px;
    }

}


/* -----------------------MOBILE STYLING ------------------------- */


@media (max-width: 523px) {
    .informationPanel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .reportContainer {
        width: 327px;
    }

    .report {
        width: 327px;
        height: 203px;
        padding: 0px;
        margin-bottom: 15px;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px 0px;
    }

    .card-head {
        width: 327px;
        height: 38px;

    }

    .work,
    .play,
    .study,
    .exercise,
    .social,
    .self-care {
        position: relative;
        border-radius: 15px;
        height: 160px;
        width: 327px;
        overflow: hidden;
    }

    .card-main {
        width: 100%;
        height: 122px;
        padding: 0px;
        overflow: hidden;
    }

    .card-hours {
        font-size: 30px;
        padding-left: 0px !important;
    }

    .card-head-report {
        width: 327px;
        height: 133px;
        display: flex;
    }

    .card-head-report-text {
        display: block;
        text-align: left;
        padding-left: 15px;
    }

    .name {
        margin-top: -20px;
        font-size: 24px;
    }

    .card-category {
        margin-bottom: -20px;
    }

    .hours-and-week {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-left: 0px;

    }

    .byTime {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: end;
        padding: 0px;
    }

    .last-week {
        margin-top: 10px;
    }
}

/* ----------------------- SMALL MOBILE STYLING ------------------------- */
@media (max-width: 356px) {
    .card-head {
        width: 310px;
        height: 38px;
    }

    .work,
    .play,
    .study,
    .exercise,
    .social,
    .self-care {
        position: relative;
        border-radius: 15px;
        height: 160px;
        width: 310px;
        overflow: hidden;
    }

    .card-main {
        width: 100%;
        height: 122px;
        padding: 0px;
        overflow: hidden;
    }

    .card-head-report {
        width: 310px;


    }

    .reportContainer {
        margin-left: auto;
        margin-right: auto;
    }

    .report,
    .reportContainer,
    .cardContainer {
        width: 310px;
        padding: 0px;
    }
}